<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{- partial "favicon.html" . -}}
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer" />

  {{/* Theme stylesheet: keep clean filename; compute SRI on the minified bytes */}}
  {{- $styleName := print (default "original" .Site.Params.themeStyle) ".css" -}}
  {{- $styleMin := resources.Get $styleName | minify -}}
  {{- $styleFP  := $styleMin | fingerprint "sha512" -}}
  <link href="{{ $styleMin.RelPermalink }}" rel="stylesheet" integrity="{{ $styleFP.Data.Integrity }}">

  {{/* Optional code block syntax CSS */}}
  {{- if (.Page.Store.Get "hasCodeBlock") -}}
    {{- $syntaxMin := resources.Get "syntax.css" | minify -}}
    {{- $syntaxFP  := $syntaxMin | fingerprint "sha512" -}}
    <link href="{{ $syntaxMin.RelPermalink }}" rel="stylesheet" integrity="{{ $syntaxFP.Data.Integrity }}">
  {{- end -}}

  {{/* Optional page-specific extra CSS from .Params.style */}}
  {{- with .Params.style -}}
    {{- $extraMin := resources.Get . | minify -}}
    {{- $extraFP  := $extraMin | fingerprint "sha512" -}}
    <link href="{{ $extraMin.RelPermalink }}" rel="stylesheet" integrity="{{ $extraFP.Data.Integrity }}">
  {{- end -}}

  {{- with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{- end -}}

  {{- partial "custom_head.html" . -}}
</head>

<body>
  <header>
    {{- partial "header.html" . -}}
  </header>
  <main id="main-content">
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>

  {{- partial "custom_body.html" . -}}
</body>

</html>

