<div id="foot-border"></div>
<small id="foot">
  <a href="https://github.com/masontuckett/masontuckett.xyz">{{ .Site.Copyright }}</a><br>
</small>
<a href='{{ absURL "index.xml" }}'>
    <img id="rss" src="/images/rss.webp" alt="button for my RSS feed">
</a>
<a href="https://masontuckett.xyz/">
    <img id="clear" src="/images/clear.webp" alt="button for my clear net site">
</a>
<a href="http://mtuckod2ooelmftsiaxps3uod2fqwri5fmlh3opftl3aslk2jun3sgqd.onion/">
    <img id="tor" src="/images/tor.webp" alt="button for my Onion site">
</a>
<a href="http://mjnt7z23l6nhugddsn7yokk3veiegyozjw27kymzry7chjlriqiq.b32.i2p/">
	<img id="i2p" src="/images/i2p.webp" alt="button for my Eepsite">
</a>
