<small id="foot">
  <a href="https://github.com/masontuckett/masontuckett.xyz">{{ .Site.Copyright }}</a><br>
</small>
<a href='{{ absURL "index.xml" }}'>
    <img id="rss" src="/images/rss.webp" alt="button for my RSS feed">
</a>
<a href="https://linkedin.com/in/mason-tuckett">
    <img id="linkedin" src="/images/linkedin.png" alt="button for my LinkedIn profile">
</a>
<a href="https://github.com/masontuckett">
    <img id="github" src="/images/github.png" alt="button for my Github profile">
</a>
<a href="http://vysuvulebawd3iqjiznr4l53hemq5fqtbaapnivhm4zwm3epbqjfnaid.onion/">
	<img id="tor" src="/images/tor.png" alt="button for my Tor service">
</a>
